bitsandbytes==0.41.0
debugpy==1.8.2
deepspeed==0.9.5
einops==0.8.0
einops_exts==0.0.4
gradio==5.14.0
huggingface_hub==0.27.1
nltk==3.8.1
numpy==2.2.2
packaging==24.2
peft==0.4.0
Pillow==11.1.0
Requests==2.32.3
safetensors==0.5.2
shortuuid==1.0.13
tabulate==0.9.0
tokenizers==0.21.0
torch==2.2.0
tqdm==4.64.1
transformers==4.44.2
